{% load static %}

<footer class="text-white mt-5">
    <div class="text-center">
        <span class="fs-3 mb-0 pb-0">Thank you for
            booking with us
        </span>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <div class="d-flex flex-row">
                <div style="rotate: -10deg;">
                    <img class="border border-3 rounded-top-4"
                        style="height: 5rem;"
                        src="{% static 'images/img2.jpg' %}"
                        alt=""><br>
                    <img class="border border-3 rounded-bottom-4"
                        style="height: 5rem;"
                        src="{% static 'images/img3.jpg' %}"
                        alt="">
                </div>
                <div style="rotate: 10deg;">
                    <img class="border border-3 rounded-top-4"
                        style="height: 5rem;"
                        src="{% static 'images/img.jpg' %}"
                        alt=""><br>
                    <img class="border border-3 rounded-bottom-4"
                        style="height: 5rem;"
                        src="{% static 'images/img1.jpg' %}"
                        alt="">
                </div>
           
            </div>
        </div>
        <div class="col">
            <div class="text-end">
                <span class="display-4 m-0 p-0 me-3"
                    style="font-family: 'Ephesis', cursive;">Follow
                    us</span>
            </div>
            <div class="border border-5 rounded-4 float-end p-3 me-3"
                style="width:fit-content;">
                <div class="d-flex justify-content-center">
                    <a class="text-white"
                        href=""> <i class="bi bi-facebook fs-1"></i></a>
                    <a class="text-white"
                        href=""> <i class="bi bi-instagram fs-1 mx-3"></i></a>
                    <a class="text-white"
                        href=""> <i class="bi bi-tiktok fs-1"></i></a>
                </div>
                <p class="m-0 p-0 text-center small">email@mail.com</p>
            </div>
        </div>
</footer>