{% extends 'base.html' %}


{% block content %}
<div class="my-5 text-white">
    <section>
        <div class="col-lg-5 mx-auto">
            <div class="row py-3 small">
                <div class="col-lg-5 mb-2 mx-auto border border-5 text-center pt-3 rounded-4"
                    style="max-width: 20rem;">
                    <p class="text-center fs-2">HEY <span
                            style="font-family:'Ephesis', cursive;">Baby!</span>
                    </p>
                    <div class="small">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing
                            elit.
                            Blanditiis </p>
                        <p>
                            <span class="fw-bolder">RESCHEDULING</span><br>
                            nulla aliquam repellendus molestias cum
                            enim. Iure, temporibus aspernatur.
                        </p>
                    </div>
                </div>
                <div class="col-lg-5 mx-auto border border-5 text-center pt-3 rounded-4"
                    style="max-width: 20rem;">
                    <span class="fs-4 mt-3">OUR HOURS</span><br>
                    <span>BOOK NOW</span>
                    <div class="row py-2 small">
                        <div class="col">
                            <ul class="list-unstyled">
                                <li>MONDAY</li>
                                <li>TUESDAY</li>
                                <li>WEDNESDAY</li>
                                <li>THURSDAY</li>
                                <li>FRIDAY</li>
                                <li>SATURDAY</li>
                                <li>SUNDAY</li>
                            </ul>
                        </div>
                        <div class="col">
                            <ul class="list-unstyled">
                                <li>9am - 6pm</li>
                                <li>9am - 6pm</li>
                                <li>9am - 6pm</li>
                                <li>9am - 6pm</li>
                                <li>9am - 6pm</li>
                                <li>10am - 3pm</li>
                                <li>CLOSED</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="text-center mt-3 col-lg-5 mx-auto">
            <h2>OUR POLICIES</h2>
            <div class="row border border-5 rounded-4 py-5 mx-1">
                <div class="col">
                    <span class="material-symbols-outlined fs-1">
                        payments
                    </span>
                    <p>PAYMENTS</p>
                </div>
                <div class="col">
                    <span class="material-symbols-outlined fs-1">
                        schedule
                    </span>
                    <p>LATE FEE</p>
                </div>
                <div class="col">
                    <span class="material-symbols-outlined fs-1">
                        attach_money
                    </span>
                    <p>DEPOSIT</p>
                </div>
                <div class="col">
                    <span class="material-symbols-outlined fs-1">
                        cancel
                    </span>
                    <p>CANCELLATION</p>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock content %}